@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@theme {
  --font-sans: "Inter", "Microsoft YaHei", "SimSun", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-white text-gray-900;
}

/* 模拟旧系统的朴素滚动条 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #003366;
}
::-webkit-scrollbar-thumb:hover {
  background: #002244;
}
